body {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.25em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: initial;
  clear: both;
}
a {
  color: #006699;
  text-decoration: none;
}
a:hover {
  color: #004499;
  text-decoration: underline;
}
pre,
div.note {
  display: inline;
  font-style: italic;
  background: #dedee0;
  color: #0071ff;
  border-radius: 2px;
  border: 1px #bbbbbb solid;
}
code {
  background: #9292f1;
  color: #fff;
}
pre,
code {
  padding: 0.05rem 0.5rem;
  white-space: normal;
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
div.note {
  padding: 0.5rem;
}
img {
  max-width: 100%;
  height: auto;
}
ul li,
ol li {
  line-height: 2rem;
}
li.text-content {
  line-height: 1.5rem;
}
.text-center {
  text-align: center;
}
.container {
  max-width: 700px;
  margin: 0 auto;
}
.container > div {
  display: block;
  clear: both;
}
.container div.image-holder {
  width: auto;
  overflow: hidden;
  height: auto;
  margin: 1rem;
}
.btn {
  display: inline-block;
  padding: 0.75rem;
  border-radius: 0.25rem;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  text-decoration: none;
}
.in-page-btn,
.in-page-btn:hover {
  background: #78f5b0;
  color: #000;
}
#backToHome {
  float: right;
  background: #788df5;
  color: #fff;
}

/* Observer & Network information pages */
.observer {
  position: relative;
  height: auto;
  overflow: hidden;
}
.observer p {
  text-align: justify;
}
.observer img {
  float: left;
  padding: 10px;
}
#observerIntRatio {
  position: fixed;
  top: 50%;
  right: 50%;
  background-color: #fff;
  font-size: 8rem;
}
form {
  width: 100%;
  margin: 0 auto;
}
.input-group {
  margin: 0.5rem;
}
.input-group input,
.input-group textarea {
  width: 100%;
}

/* Device Memory */
#memoryInfoContainer {
  padding: 1rem;
  margin: 1rem 0;
}
.alert-danger {
  color: #ff0000;
  background: #ffe0e0;
}
.alert-warning {
  color: #ff9d00;
  background: #fff5e5;
}
.alert-success {
  color: #00690a;
  background: #d7ffde;
}

@media (min-width: 768px) {
  .container {
    margin-top: 4rem;
  }
  form {
    max-width: 50%;
  }
}
